<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Fake News AI Detector</title>
  </head>
  <body>
    <div class="container">
      <nav>
        <ul>
          <li>AI Detector</li>
          <li>Manual</li>
          <li>About the tool</li>
          <li>Reviews</li>
        </ul>
      </nav>

      <form>
        <label>FAKE NEWS AI DETECTOR</label>
        <textarea placeholder="News Heading"></textarea>
        <textarea placeholder="Hews Body"></textarea>
        <div>
          <label></label>
        </div>
        <button type="submit">Detect</button>
      </form>

      <nav>
        <ul>
          <li>Star</li>
          <li>Star</li>
          <li>Star</li>
          <li>Star</li>
          <li>Star</li>
        </ul>
      </nav>
    </div>
    <script src="script.js"></script>
  </body>
</html>
