<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="stylesheet" href="/static/style.css" /> -->
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}" />
    <title>CredCheck AI</title>
  </head>
  <body>
    <!-- this images should be pass to js, since
     js cannot understand jinja2 code from pythonn 
    -->
    <img
      id="yellow-star"
      src="{{url_for('static', filename='src/yellow_star.png')}}"
      hidden
    />
    <img
      id="black-star"
      src="{{url_for('static', filename='src/black_star.png')}}"
      hidden
    />
    <!-- this images should be pass to js, since
     js cannot understand jinja2 code from pythonn 
    -->

    <ul class="nav-bar">
      <li class="ai-detector-link" id="top">
        &nbsp;&nbsp;&nbsp;&nbsp;<a href="#form-ai">AI Detector</a>
      </li>
      <li class="ai-detector-link">
        &nbsp;&nbsp;&nbsp;&nbsp;<a href="#about">About</a>
      </li>
      <li class="ai-detector-link">
        &nbsp;&nbsp;&nbsp;&nbsp;<a href="#manual">Manual</a>
      </li>
      <li class="ai-detector-link" id="bottom">
        &nbsp;&nbsp;&nbsp;&nbsp;<a href="#download">Download</a>
      </li>
    </ul>

    <ul class="ratings-bar">
      <li class="star-li">
        <img
          class="star"
          id="star-1"
          src="{{url_for('static',filename='src/black_star.png')}}"
        />
      </li>
      <li class="star-li">
        <img
          class="star"
          id="star-2"
          src="{{url_for('static',filename='src/black_star.png')}}"
        />
      </li>
      <li class="star-li">
        <img
          class="star"
          id="star-3"
          src="{{url_for('static',filename='src/black_star.png')}}"
        />
      </li>
      <li class="star-li">
        <img
          class="star"
          id="star-4"
          src="{{url_for('static',filename='src/black_star.png')}}"
        />
      </li>
      <li class="star-li">
        <img
          class="star"
          id="star-5"
          src="{{url_for('static',filename='src/black_star.png')}}"
        />
      </li>
    </ul>

    <header>
      <span class="title-wrapper">
        <h1 class="title-green">Cred</h1>
        <h1 class="title">Check</h1>
        <h1 class="sub-title">&nbsp;AI&nbsp;</h1>
      </span>
      <h2 class="title-2">
        Because credible information fuels better decisions.
      </h2>
      <h2 class="title-2">Your AI ally against misinformation.</h2>
      <div class="circle-wrapper">
        <div class="circle-1"></div>
        <div class="circle-2"></div>
        <div class="circle-3"></div>
        <div class="circle-4"></div>
      </div>
    </header>
    <div class="container">
      <form class="ai-detector-container" id="form-ai">
        <span>
          <label class="ai-detector-title">News Credibility </label>
          <label class="ai-detector-title" style="color: rgb(70, 143, 70)"
            >Checker</label
          >
        </span>
        <textarea
          class="headings-area"
          id="headings-area"
          placeholder="News Heading"
        ></textarea>
        <textarea
          class="body-area"
          id="body-area"
          placeholder="News Body"
        ></textarea>
        <div class="result-container" id="result-container">
          <label class="result-text" id="result-text">result here.</label>
        </div>
        <button class="detect-button" type="submit">Check</button>
      </form>
    </div>

    <div class="info-container">
      <h1 class="info-title">An AI-Powered Online News Credibility Detector</h1>
      <h2 class="info-sub-title" id="about">What is CredCheck AI?</h2>
      <h3 class="info">
        <b>CredCheck AI</b> is a tool used to detect credible and fake news. It
        aims to stop misinformation spreading across the internet. This tool
        helps students, employees, researchers, and especially non-tech people
        to avoid fraud information.
      </h3>

      <h2 class="info-sub-title">What model is used?</h2>
      <h3 class="info">
        The model used is <b>Logistic Regression</b> together with Vectorization
        within a pipeline. Logistic Regression classifies whether the news is
        fraud or not. Vectorization on the other hand, converts the text into a
        numerical format where machines understands it. This AI is trained with
        40k cleaned data, having 98% accuracy.
      </h3>

      <h2 class="info-sub-title" id="manual">How to use CredCheck AI?</h2>
      <h3 class="info-step">1. <b>Find</b> a news you want to check.</h3>
      <h3 class="info-step">
        2. <b>Copy</b> the heading and the body of the news.
      </h3>
      <h3 class="info-step">3. <b>Paste</b> them inside the input field.</h3>
      <h3 class="info-step">4. <b>Click</b> check and wait for the result.</h3>
    </div>

    <h1 class="app-dl-text" id="download">Download App</h1>
    <h2 class="app-dl-sub-text">Coming Soon.</h2>

    <!-- Footer here. -->
    <footer>
      <ul class="footer-nav">
        <li><a href="#">HOME</a></li>
        <li><a href="#">CONTACT</a></li>
        <li><a href="#">SIMPLE PAGE</a></li>
      </ul>
      <div class="footer-contacts">
        <img
          class="contact"
          src="{{ url_for('static', filename='src/facebook.png')}}"
        />
        <img
          class="contact"
          src="{{ url_for('static', filename='src/github.png')}}"
        />
        <img
          class="contact"
          src="{{ url_for('static', filename='src/linkedin.png')}}"
        />
      </div>
      <h3 class="signature">
        Made by <b style="color: rgb(118, 118, 118)">jc14-ai</b>
      </h3>
    </footer>

    <script src="{{ url_for('static',filename='script.js')}}"></script>
    <!-- <script src="/static/script.js"></script> -->
  </body>
</html>
