@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    font-family: "Lora", serif;
    margin: auto;
    background-color: rgb(29, 29, 29);
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
    width: 100%;
    border: 1px solid;
}

.nav-bar{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    border-radius: 0 20px 20px 0;
    flex-direction: column;
    font-weight: 700;
    font-size: 1.1em;
    height: 40%;
    width: 15%;
    list-style-type: none;
    background-color: rgb(217, 217,217);
    position: fixed;
    left: 0;
}

.ai-detector-link{
    display: flex;
    align-items: center;
    height: 25%;
    width: 100%;
    cursor: pointer;
}

.ai-detector-link:hover{
    color: rgb(217, 217,217);
    background-color: rgb(75, 75, 75);
}

#top{
    border-radius: 0 20px 0 0;
    border: none;
}

#bottom{
    border-radius: 0 0 20px 0;
    border: none;
}

.ai-detector-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 40%;
    border-radius: 44px;
    background-color: rgb(217, 217,217);
}

.ratings-bar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    right: 0;
    position: fixed;
    border: 1px solid;
    height: 40%;
    width:5%;
    border-radius: 20px 0 0 10px;
    background-color: rgb(217, 217,217);
}

